html {
  height: 100%;
  /* all:revert; */
  background-attachment: fixed;
}

main {
  /* background-color:all; */
  /* all:revert; */
  background-attachment: fixed;
}

header {
  background-color: white;
  /* z-index: 500; */
}




#contain {
  width: 70%;
  /* z-index: -1; */
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: auto;
  /* z-index: 500; */
}

/* se connecter */


label {
  margin-top: 10px;
  margin-bottom: 0px;
}

.formConnexion a:hover {
  color: inherit;
}

.formConnexion a {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  padding-top: 30px;
}


/* Full-width inputs */

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}



#sc {
  color: #51aeed;
  text-decoration: underline;
  cursor: pointer;
}

.parallax {

  /* background-image: url("../img/forestpara.jpg"); */
  background-image: linear-gradient(to right top, rgba(255, 132, 137, 0.33), rgba(213, 173, 200, 0.7)), url("../img/forestpara.jpg");

  min-height: 170px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5px;

}

.font{
  font-family: 'Gameboi95';
  src: url(../font/Gameboi95.ttf) format('ttf');
}

#titrepara h1 {

  font-style: normal;
  font-weight: 300;
  font-family: 'Gameboi95';
  src: url(../font/Gameboi95.ttf) format('ttf');
  text-align: center;
  color: #ffffff;
  font-size: 38px;
  z-index: 0;
  padding-top: 63px;

  /* letter-spacing: 1.8px; */
  /* text-transform: uppercase; */
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: rgba(0,0,0,.87); */
  z-index: 9999;
}

#quiz_questions img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 2px solid black;
  box-shadow: 10px 5px 5px red;
  margin-bottom: 2rem;
}

#contain img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border: 2px solid black;
  box-shadow: 10px 5px 5px red;
  margin-bottom: 2rem;
}

/* .ajout-question{
  float: left;
} */

hr {
  margin-bottom: 10px;
}

.delete-question {
  float: right;
  position: relative;
}

.table td {
  text-align: center;
}

.table th {
  text-align: center;
  vertical-align: middle;
}

.quiz_box header .timer {
  float: right;
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
  height: 45px;
  padding: 0 8px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 175px;
}

.quiz_box header .timer .time_left_txt {
  font-weight: 400;
  font-size: 17px;
  user-select: none;
}

.quiz_box header .timer .timer_sec {
  font-size: 18px;
  font-weight: 500;
  height: 30px;
  width: 45px;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  background: #343a40;
  border: 1px solid #343a40;
  user-select: none;
}

.quiz_box .time_line {
  display: inline-block;
  bottom: 0px;
  left: 0px;
  height: 3px;
  max-width: 100%;
  background: #007bff;
  z-index: 999;
}

.quiz_box header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz_box header .title {
  font-size: 20px;
  font-weight: 600;
}

section div {
  display: none;
}

.quiz_box #envoyer {
  display: none;
}



.input-group i {
  position: absolute;
  right: 0;
  top: 25px;
  padding: 9px 8px;
  /* transition: 0.3s; */
}

.hrQ {
  size: 5;
}




table {
  counter-reset: case;
}

tbody th:before {
  counter-increment: case;
  content: counter(case);
  font-size:x-large;
}


#creationQuizz{
  display: inline-block;
}

#creationQuizz2{
  float:right;
}