{# {% extends 'base.html.twig' %}


{% block body %} #}
	<div id="contain">
		<h1>Bienvenue sur MyQuizzz</h1>
		<br><br>
		<h3>Présentation et règle du jeu</h3>
		<br>
		<p>MyQuizzz est une plateforme et plus particulièrement un jeu textuel de rapidité et de réflexion qui permet de mettre à l'épreuve votre culture générale, votre mémoire, vos réflexes.
		</p>
		<p>Afin d'accéder aux fonctionnalités du site, il faudra s'authentifier. 
		Ainsi vous pouvez trouver à droite du menu les magnifiques boutons Bootstrap qui vous permettront de vous créér un 
		compte s'il vous ne l'avez toujours pas fait ou encore s'identifier si vous voulez vous connecté et commercer à jouer 
		(c'est quand même la meilleure option)</p>
		<p>Après avoir créer votre compte si c'est votre première visite, vous allez être redirigé vers la page de connexion afin de vous authentifier avec les identifiants précedemment choisi.</p>
		<h4>Les différentes fonctionnalités</h4>
		<br>
		<p>Une fois sur votre tableau de bord plusieurs option s'offre à vous :
		</p>
		<div class="ms-4">
			<p>
				- Créer votre propre Quizzz</p>
			<p>
				- Parcourir le Quizzz des autres</p>
			<p>
				- Modifier votre/vos Quizzz</p>
			<p>
				- Supprimer votre/vos Quizzz</p>
			<p>
				- Lancer n'importe quel Quizzz</p>
		</div>
		<br>
		<h4>En détail............</h4>
		<br>
		<div class="ms-4">
			<strong>Création de Quizzz</strong>
			<p>Comme vous l'avez compris il est possible de créér son propre Quizzz (encore heureux)</p>
			<p>Il faudra renseigner obligatoirement un nom et une description. Une fois après avoir franchi cette lourde étape
								            Ensuite via une collection de formulaire il est possible de créer ses question. Pour chaque questions il faudra 
								            insérer LA question, sa réponse (peut importe la case majuscule, minuscule on prend tout !) et éventuellement une image</p>
			<p>Il ne vous restera plus qu'à appuyer sur le bouton afin de pouvoir finaliser la création de votre Quizzz</p><br>
			<strong>Modification de votre Quizzz</strong>
			<p>Comme le tritre du paragraphe l'indique, il est possible de pouvoir modifier un Quizzz que VOUS avez créé</p>
			<p>Vous pouvez ainsi TOUT customisé que ça soit le titre, la description, chacune des questions, sa réponse, son image, ajouter des questions, en supprimer TOUUUUUT</p>
			<p>Et tout cela DY-NA-MI-QUE-MENT via une collection de formulaire je vous laisse découvrir lorsque vous viendriez à modifier cotre Quizzz
			</p>
			<br><strong>Suppression de votre Quizzz</strong>
			<p>Rien à redire tout est dit dans le titre :)</p><br>
			<strong>JOOUUUUUERRRRR</strong>
			<p>La fonctionnalité la plus intéressante JOUER</p>
			<p>Comment se déroule une partie ?</p>
			<p>Lorsque vous lancerez un Quizzz, vous serez redirigé vers la page en question (jeu de mot). Vous aurez 15 secondes pour répondre à chaque question, les questions seront ainsi affichés une par une dans l'ordre choisi par le créateur du Quizzz</p>
			<p>La partie durera donc 15 fois le nombre de question présent dans le Quizzz, cette information sera présente dans l'entete du Quizzz ne vous inquietez pas</p>
			<p>Une fois après avoir répondu à l'ensemble des questions, il faudra cliquer sur le bouton qui apparaitra devant vous afin de consulter votre score et les réponses aux questions</p>
		</div><br>
		<h4>Quelques informations par-ci par-là</h4>
		<br>
		<p>L'admin à accès a absolument TOUT, il peut modifier n'importe quel Quizzz, supprimer n'importe quel Quizzz, ...</p>
		<p>Comme indiqué précedemment seul les createurs (et l'admin) des Quizzz peuvent modifier et supprimer leur Quizzz</p>
		<p>Vous pouvez créer le nombre de Quizzz que vous voulez</p>
		<p>Un Quizzz peut contenir aucune question mais dans ce cas il sera impossible de le lancer</p><br>
		<h4>Idée de futures évolutions</h4>
		<div class="ms-4">
        <br>
			<p>- Rendre le jeu multijoueur</p>
			<p>- Choisir le temps pour chaque question</p>
			<p>- Ajout de différent type de question (choix multiple, question sur une vidéo, un son, ...</p>
			<p>- Indiquer la difficulté d'une question (facile, moyen, difficile)</p>
		</div><br>
        <h4>Pour Finir</h4><br>
        <p>Je vous invite à vous connecter ou créer un compte</p>
        <p>ET BONNE GAME !</p>


	</div>
{# {% endblock %} #}
